#banner {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: red;
}

#nav {
  height: 50px;
  width: 240px;
  margin: 125px 0px 25px 75%;
  background-color: yellow;
}

.button {
  height: 50px;
  width: 80px;
  background-color: green;
}

#sidebar {
  width: 25%;
  max-width: 480px;
  min-width: 200px;
  overflow: hidden;
  margin: 0px auto;
  background-color: purple;
}

.side-chunk {

}

.side-label {

}

#latest-post {

}

.side-post {

}

#popular-videos {

}

.side-video {

}

#container {
  width: 75%;
  max-width: 1440px;
  margin: 0px auto;
  background-color: fuchsia;
}

#carousel {

}

.main-video {

}

#footer {
  width: 100%;
  height: 25px;
  margin: 0px auto;
  background-color: cyan;
}
