body {
  background-color: yellow;
  padding: 0;
  margin: 0;
}

#banner {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: red;
}

#banner h1 {
  float: left;
}

#nav {
  position: absolute;
  height: 52px;
  width: 246px;
  margin: 125px 0px 25px 75%;
  background-color: yellow;
}

.button {
  border: 1px solid black;
  float: left;
  height: 50px;
  width: 80px;
  background-color: green;
}

.button p {
  vertical-align: middle;
  text-align: center;
}

.button:hover {
  background-color: darkgreen;
}

#container {
  overflow: hidden;
  width: 960px;
  margin: 20px auto 0 auto;
  padding: 0;
}

#sidebar {
  float: right;
  width: 310px;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  background-color: purple;
}

.side-chunk {

}

.side-label {
  overflow: hidden;
  text-align: center;
  background-color: darkorchid;
}

#latest-post {

}

.side-post {
  width: 310px;
  height: 150px;
  background-color: darkmagenta;
  margin: 20px auto;
}

.side-post:hover {
  background-color: magenta;
}

#related-posts {

}

#related-videos {

}

#popular-videos {

}

.side-video {
  width: 310px;
  height: 150px;
  background-color: deeppink;
  margin: 20px auto;
}

.side-video:hover {
  background-color: pink;
}

#main {
  float: left;
  width: 630px;
  margin: 0;
  padding: 0 5px;
  background-color: fuchsia;
}

#carousel {
  width: 630px;
  height: 410px;
  background-color: chartreuse;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

#carousel h1 {
  
  vertical-align: middle;
}

#video {
  width: 630px;
  height: 410px;
  background-color: chartreuse;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

#post {
  width: 630px;
  height: 410px;
  background-color: chartreuse;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.main-video {
  width: 630px;
  height: 200px;
  background-color: darkcyan;
  margin: 20px auto 20px auto;
}

.main-video:hover {
  background-color: cornflowerblue;
}

#comments {
  width: 630px;
  height: 400px;
  background-color: darkcyan;
  margin: 20px auto 20px auto;
}

#footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: aqua;
  overflow: hidden;
}

#footer p {
  margin: 0;
  vertical-align: middle;
}
